<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
<link rel="stylesheet" href="{{ "/css/monokai.css" | prepend: site.baseurl | replace: '//', '/' }}">
<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl | replace: '//', '/' }}">
<link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl | replace: '//', '/' }}">
<script src="https://kit.fontawesome.com/c569d89c48.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo %}
{% include analytics.html %}
</head>
